<section class="text-center py-12">
    <h1 class="text-4xl font-bold mb-4 text-gray-900">Bienvenido a <span class="text-blue-600">Data2Web</span></h1>
    <p class="text-lg text-gray-600 max-w-2xl mx-auto">
        Un espacio personal donde comparto mis pasatiempos, series favoritas, creadores de contenido,
        momentos importantes de mi vida y mucho más.
    </p>
    <p1 class="text-lg b max-w-2xl mx-auto">
        @ErickEduardoDev
    </p1>
</section>

