{{#> _Layout title="Redes Sociales" active="sociallinks"}}

<h1 class="text-2xl font-bold mb-6">Mis Redes Sociales</h1>

<div class="flex flex-wrap gap-6">
    {{#each Items}}
    <a href="{{Url}}" target="_blank" class="flex items-center space-x-2 text-blue-600 hover:underline">
        {{{IconoSvg}}}
        <span>{{RedSocial}}</span>
    </a>
    {{/each}}
</div>

{{/_Layout}}


